.home-container {
  width: 100%;
  background-color: var(--card-bg-color);
  padding: 4em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

select {
  padding: 1em;
  border-radius: 5px;
  margin: 10px;
  font-size: 1.2rem;
}

label {
  font-size: 1.5rem;
  margin: 10px;
  text-align: center;
}

.play-btn {
  width: 100%;
  margin-top: 40px;
}

@media screen and (max-width: 1400px) {
  select {
    width: 100%;
  }
}
