.footer-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-bottom: 50px;
  padding: 1em 0;
  border-top: 2px solid var(--card-bg-color);
  text-transform: uppercase;
}

.footer-container a {
  margin-left: 10px;
  text-decoration: none;
  color: var(--paragraph-text);
}

.footer-container a:hover {
  color: var(--btn-color);
}

@media screen and (max-width: 650px) {
  .footer-content {
    flex-direction: column;
  }
}
